<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  THIS CONFIGURATION FILE IS FOR ACTIVATING INTELLISENSE ONLY
  You need this config file named web.config (named web.config!) for being able to use intellisense at your templates (for using intellisense only, not for executing your templates).
  So you must copy this file to your template project besides your default app.config.
  The referenced MVC and Razor assemblies (here MVC version 3) need to be installed at your environment. 
  Xipton.Razor uses Razor 2.0 (part of MVC 4), still you can use this configuration (MVC 3, Razor 1).
  If you do not have MVC 3 installed on your system you need to configure the versions to the ones that are on your system.
-->
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="Xipton.Razor.TemplateBase">
      <namespaces>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Dynamic"/>
        <add namespace="System.IO"/>
        <add namespace="System.Linq"/>
        <add namespace="Xipton.Razor.Extension"/>
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <system.web>
    <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
  </system.web>

  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/> 
  </appSettings>


</configuration>